@import "tailwindcss";
@keyframes slide-up {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 40px;
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.6s ease-out forwards;
}
